/HomeWork0/dist/
/ClassNotes/nbproject/private/
/Paycheck/nbproject/private/
/Paycheck/build/
/Paycheck/dist/
/Birthdays/nbproject/private/
/Birthdays/build/
/Planets/nbproject/private/
/Planets/build/